<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Chat Room</title>
</head>
<body>
<h2 style="position: fixed; top: 0; border-bottom: solid 1px gray; width: 100%;
    height: 30px; margin: 0;">{{name}}</h2>
<div id="message_list" style="margin-bottom: 40px; margin-top: 32px;"></div>
<div style="display: grid; grid-template-columns: 90% 10%; width: 100%; position: fixed; bottom: 0; left: 0; right: 0;">
  <textarea id="msg" placeholder="Type here" style="resize: none;"></textarea>
  <button onclick="sendMessage()">Send</button>
</div>
<script>
    const HOSTNAME = window.location.hostname;
    const PORT = window.location.port;
    const URL = HOSTNAME + ":" + PORT;

    const ws = new WebSocket("ws://" + URL + "/ws" + "?rid=" + "{{rid}}");

    ws.onclose = function (evt) {
        if (evt.code !== 1000) {
            alert("Error " + evt.code + evt.reason);
            window.location = "http://" + URL + "/";
        }
    };

    window.onbeforeunload = function () {
        ws.close(1000, "None");
    };

    ws.onmessage = function (message) {
        const parsedMessage = JSON.parse(message.data);
        addMessage(parsedMessage.username, parsedMessage.content.content);
    };

    function getRid() {
        return window.location.search.substring(5);
    }

    function sendMessage() {
        const textarea = document.getElementById("msg");
        const content = textarea.value;
        if (ws.readyState === ws.OPEN) {
            ws.send(JSON.stringify({
                rid: getRid(),
                content: content,
            }));
            textarea.value = "";
        }
    }

    function addMessage(username, content) {
        const el = document.createElement("div");
        el.innerHTML = "<span style='color: green;'>" + username + "</span>: <span>" + content + "</span>";
        document.getElementById("message_list").append(el);
        window.scrollBy(0, document.scrollingElement.scrollHeight)
    }
</script>
</body>
</html>