<html>
<head>
  <title>Get Prize</title>
</head>
<body>
<h2>Get prize</h2>

<div>
  <form action="/" method="post">
    <div style="display: grid; max-width: max-content;">
      <label>Number of 1st Prize</label>
      <input name="number-1" type="number"/>
      <label>Number of 2nd Prize</label>
      <input name="number-2" type="number"/>
      <label>Number of 3rd Prize</label>
      <input name="number-3" type="number"/>
    </div>
    <div>
      <input style="margin: 12px 0px; background-color: dodgerblue; border-radius: 5px; color: white;" type="submit">
    </div>
  </form>
</div>
</body>
</html>